@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,700;1,400&display=swap");

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: #fff;
    font-size: xx-large;
    list-style: none;
    letter-spacing: 1px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.card,
.about,
.skills,
.hobbies,
.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100rem;
    margin: 10rem auto;
    background-color: #0d0d0d;
    border: 2px solid #fff;
    border-radius: 15px;
    opacity: 0.9;
    transition: 0.7s;
}
.card:hover,
.about:hover,
.skills:hover,
.hobbies:hover,
.education:hover {
    transform: translateY(-2rem);
    box-shadow: 0 0 20px 3px #fff;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    margin: 50px 0px;
}

/* CARD */

.card-flex {
    display: flex;
    flex-direction: row;
}

.card-col-1 {
    flex-basis: 40%;
    width: 100%;
}

.card-col-2 {
    margin-top: 5rem;
    width: 100%;
    flex-basis: 60%;
}

.fa-brands {
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 7rem;
    transition: 0.7s;
}

.fa-brands:hover {
    transform: translateY(-3px);
}

.fa-facebook-square:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #dd2a7b;
}
.fa-github:hover {
    color: #808080;
}
.fa-twitter:hover {
    color: #08a0e9;
}
.fa-linkedin-in:hover {
    color: #0077b5;
}

.card-col-1 img {
    margin: 0 0 0 10rem;
    width: 200px;
    border: solid #fff 3px;
    border-radius: 50%;
}

.card h2 {
    margin: 3rem 0 50px 3rem;
}

/* ABOUT */

.about p {
    margin: 0px 5rem;
}

.about hr {
    margin: auto;
    margin-top: 5rem;
    width: 85%;
}

.about h2 {
    margin: 5rem;
}

.about-col-1 {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
}

.about li {
    font-size: x-large;
    margin-bottom: 0.5rem;
}

.li-2,
.li-3,
.li-4 {
    margin-left: 4rem;
    margin-bottom: 5rem;
}

.li-2,
.li-4 {
    opacity: 0.7;
}

/* SKİLLS */

.skills-container {
    margin: 0 5rem 5rem 5rem;
}

.skills-bar-container {
    border-radius: 2rem;
    width: 100%;
    background-color: #fff;
}

.skills-bar {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
}

.html,
.css,
.js,
.bootstrap {
    border-radius: 1rem 0 0 1rem;
    margin: 1rem 0 5rem 0;
    background-color: #333;
}

.html {
    width: 90%;
}
.css {
    width: 80%;
}
.js {
    width: 10%;
}
.bootstrap {
    width: 50%;
}

.skills p {
    display: flex;
    align-self: center;
    text-align: center;
    margin-left: 2rem;
}

.skills i {
    display: flex;
}

/* HOBBİES */

.hobbies-col-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5rem 5rem 10rem;
}

.fa-solid {
    margin-right: 2rem;
}

.li-2-1,
.li-4-1,
.li-6-1 {
    margin-right: 7.5rem;
    opacity: 0.7;
}

.hobbies li {
    margin-bottom: 5rem;
}

/* EDUCATİON */

.fa-school,
.fa-graduation-cap {
    font-size: 7rem;
    margin: 0 5rem 0 5rem;
}

.columns {
    display: flex;
}

.education small {
    font-size: medium;
    opacity: 0.7;
}

.education p {
    font-size: 2rem;
}

.education hr {
    margin: auto;
    margin: 5rem;
    width: 85%;
}

/* BACKTOTOP */

#backtotop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#backtotop i {
    font-size: 4.5rem;
    transition: 0.7s;
}

#backtotop i:hover {
    transform: translateY(-10px);
}
