body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  gap: 34px;
  justify-content: center;
  margin: 0;
}
.card {
  height: 450px;
  width: 300px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  opacity: 0.9;
  transform: translateY(20px);
}
img {
  margin-left: 60px;
  width: 170px;
  border: solid black 5px;
  border-radius: 100px 100px 100px 100px;
}
.card p {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: black;
  font-size: x-large;
}
.card h4 {
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}
.card li {
  list-style: none;
  display: inline;
}
.fa-brands {
  margin-left: 10px;
  padding: 2px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.5;
  background-color: black;
}
.fa-twitter,
.fa-linkedin-in,
.fa-instagram,
.fa-facebook-square,
.fa-github {
  color: black;
  font-size: large;
}

.about {
  height: 800px;
  width: 700px;
  background-color: white;
  opacity: 0.9;
}
.about p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  padding: 50px 50px 150px 50px;
}
.about h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  padding: 50px 0px 0px 50px;
}
hr {
  width: 80%;
}
.about li {
  color: black;
}
.about h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  padding: 0px 0px 0px 50px;
}
.li-1 {
  padding: 0px 0px 0px 30px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: calc(15% - 2px);
  vertical-align: top;
  list-style: none;
  font-weight: bold;
  margin-left: 30px;
}

.li-2 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: calc(30% - 2px);
  vertical-align: top;
  list-style: none;
  opacity: 0.7;
}
.li-3 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: calc(15% - 2px);
  vertical-align: top;
  list-style: none;
  font-weight: bold;
}

.li-4 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  opacity: 0.7;
}
.li-1 li,
.li-2 li,
.li-3 li,
.li-4 li {
  padding-top: 15px;
}
.skills {
  height: 800px;
  width: 700px;
  background-color: white;
  margin-top: 20px;
  opacity: 0.9;
}
.skills h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  padding: 50px 0px 0px 50px;
}
progress {
  margin-left: 30px;
  width: 80%;
  padding: 20px;
}
.skills h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  padding: 20px 0px 0px 20px;
  margin-left: 20px;
}
.hobbies {
  height: 300px;
  width: 700px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}
.hobbies h1,
.education h1,
.work h1,
.mail h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  padding: 50px 0px 0px 50px;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
}
.fa-solid {
  margin-left: 10px;
  padding: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.5;
}
.fa-code,
.fa-gamepad,
.fa-person-swimming,
.fa-umbrella-beach,
.fa-music,
.fa-person-walking {
  color: black;
  font-size: xx-large;
  display: inline-block;
  width: calc(15% - 2px);
  vertical-align: top;
  list-style: none;
}
#k {
  display: inline-block;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: large;
  opacity: 0.5;
}
.hobbies .fa-solid {
  display: inline-block;
  color: black;
  list-style: none;
}
.icons {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}

.icons > .top,
.icons > .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons > .bottom > .icon-item,
.icons > .top > .icon-item {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
}
.card a {
  border-radius: 10%;
}
.card a:hover {
  background-color: white;
  color: black;
}
.education {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 520px;
  width: 700px;
  background-color: white;
  opacity: 0.9;
}
.high_school i {
  color: black;
  font-size: 50px;
  margin-left: 25px;
  display: inline-block;
}

.high_school p {
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
.high_school h3 {
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
}
.high_school small {
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
}
.high_school {
  display: inline-block;
  vertical-align: top;
}
.university i {
  margin-top: 30px;
  color: black;
  font-size: 50px;
  margin-left: 25px;
  display: inline-block;
}

.university p {
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
}
.university h3 {
  margin-top: 50px;
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
}
.university small {
  color: black;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
}
.university {
  display: inline-block;
  vertical-align: top;
}
.card,
.about,
.education,
.skills,
.hobbies {
  border-radius: 10px;
  opacity: 0.9;
}
